section{
    display: none;
}

.home-active{
    .home{
        display: flex;
    }
}

.destination-active{
    .destination{
        display: block;
    }
}

.crew-active{
    .crew{
        display: flex;
    }
}

.technology-active{
    .technology{
        display: flex;
    }
}

.content-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: $color-dark-main;
}

@keyframes anim {
    0%{
        transform: translate(-80px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}