section{
    display: none;
}


.home-active{
    .home{
        display: flex;
    }
}

.destination-active{
    .destination{
        display: block;
    }
}

.crew-active{
    .crew{
        display: flex;
    }
}

.technology-active{
    .technology{
        display: flex;
    }
}
