//Общие стили
.section__title{
    @include subheading;

    @media screen and(min-width: 768px) {
        font-size: 1.25rem;
    }

    @media screen and (min-width: 1440px) {
        font-size: 1.75rem;
    }
}

.section__number{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    opacity: 0.25;
    margin-right: 18px;
    
    @media screen and (min-width: 1440px) {
        margin-right: 28px;
    }
}

.text{
    @include text;

    @media screen and (min-width: 768px) {
        font-size: 1rem;
        line-height: 1.75;
    }

    @media screen and(min-width: 1440px) {
        font-size: 1.125rem;
    }
}

//стили для навигации (header destination)

.nav-link,
.nav-link:visited{
    @include subheading(0.875rem, 1);
    text-decoration: none;

    @media screen and (min-width: 768px) {
        font-size: 1rem;
    }
}

//стили для header

.header{
    @media screen and (min-width: 1440px) {
        font-size: 1rem;
        line-height: 1.2;
        color: $color-light-main;
    }

    &__nav-item-number{
        font-weight: 700;
    }
}

// стили для home

.home{
    &__title{
        color: $color-secondary;
        @include subheading(1rem);

        @media screen and (min-width: 768px) {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }

        @media screen and (min-width: 1440px) {
            font-size: 1.75rem;
        }
        
        &-accent{
            @include heading(5rem, 1);

            @media screen and (min-width: 768px) {
                font-size: 150px;
            }

            @media screen and (min-width: 1440px) {
                line-height: 172px;
            }
        }
    }

    &__button{
        @include heading(1.25rem, 1.15, 0.075rem);
        color: $color-dark-main;

        @media screen and (min-width: 768px){
            font-size: 2rem;
            letter-spacing: 0.125rem;
        }
    }
}

//стили для destination

.destination .nav-link{
    color: $color-secondary;

    &_active{
        color: $color-light-main;
    }
}

.info{
    &__title{
        @include heading(3.5rem, 1.18);

        @media screen and (min-width: 768px) {
            font-size: 5rem;
        }

        @media screen and (min-width: 1440px) {
            font-size: 100px;
            line-height: 1.15;
        }
    }

    &__text{
        @media screen and (min-width: 1440px) {
            line-height: 2rem;
        }
    }

    &__stats{
        text-transform: uppercase;
        font-size: 0.875rem;
        color: $color-secondary;
        letter-spacing: $letter-spacing-default;
        
        &-accent{
            @include heading(1.75rem, 2);
        }
    }
}

// стили для crew

.crew{
    &__content{
        font-weight: 400;
    }

    &__position{
        text-transform: uppercase;
        font-family: "Bellefair";
        color: rgba($color-light-main, $alpha: .5);

        @media screen and (min-width: 768px) {
            font-size: 1.25rem;
        }

        @media screen and (min-width: 1440px) {
            font-size: 2rem;
        }
    }

    &__name{
        text-transform: uppercase;
        font-family: "Bellefair";
        color: $color-light-main;
        font-size: 1.5rem;

        @media screen and (min-width: 768px) {
            font-size: 2.5rem;
        }

        @media screen and (min-width: 1440px) {
            font-size: 3.5rem;
        }
    }
}

// стили для technology

.technology{
    &__nav-btn{
        font-family: "Bellefair";
        color: $color-light-main;
        text-decoration: none;
        line-height: 1;
        
        @media screen and (min-width: 1440px) {
            font-size: 2rem;
        }

        &_active{
            color: $color-dark-main;
        }
    }

    &__title{
        @include heading(1.5rem);

        @media screen and (min-width: 768px) {
            font-size: 2.5rem;
        }

        @media screen and (min-width: 1440px) {
            font-size: 3.5rem;
        }
    }

    &__span{
        @include subheading(0.875rem);
        color: $color-secondary;

        @media screen and (min-width: 768px) {
            font-size: 1rem;
        }
    }

    &__info{
        @media screen and (min-width: 1440px) {
            line-height: 2rem;
        }
    }
}