.crew{
    flex-direction: column;
    text-align: center;
    margin-top: 24px;

    @media screen and (min-width: 1440px) {
        text-align: left;
        padding-bottom: 60px;
    }

    .section__content-container{
        gap: 32px;

        @media screen and (min-width: 768px) {
            gap: 40px;
        }

        @media screen and (min-width: 1440px) {
            flex-direction: column;
            align-items: start;

            gap: 120px;
            margin-left: 165px;
            margin-top: 84px;
        }
    }

    &__image-container{
        position: relative;
        width: calc(100% - 68px);

        @media screen and (max-width: 767px) {   
            .crew__image{
                transform: translate(15px, 0);
            }

            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #383B4B;
                left: 0;
                bottom: 3px;
            }
        }

        @media screen and (min-width: 768px) {
            order: 2;
            width: auto;
            margin: 0 auto;
        }

        @media screen and (min-width: 1440px) {
            position: absolute;
            bottom: 0;
            right: 137px;

            transition: $default-transition;
            transform: translate3d(calc(var(--moveX) * 4), calc(calc(var(--moveY) * 2) + 20px), 0);
        }
    }

    &__image{
        height: 59vw;
        width: auto;

        @media screen and (min-width: 768px) {
            width: 456px;
            height: auto;
        }

        @media screen and (min-width: 1440px) {
            width: 515px;
        }
    }

    &__nav{
        display: flex;
        gap: 16px;
    }

    &__nav-link{
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
        background-color: $color-light-main;
        transition: opacity .2s;
        opacity: .17;

        &:hover{
            opacity: .5;
        }

        @media screen and (min-width: 1440px) {
            width: 15px;
            height: 15px;
        }

        &_active{
            opacity: 1;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        margin: 0 24px;

        @media screen and (min-width: 768px) {
            order: -1;
        }

        @media screen {
            margin: 0;
        }
    }

    &__position{
        order: -1;
        margin-bottom: 8px;
        

        @media screen and (min-width: 1440px) {
            margin-bottom: 15px;
            transition: $default-transition;
            transform: translate3d(calc(var(--moveXt) * 1), calc(var(--moveYt ) * 1), 0);
        }
    }

    &__name{
        margin-bottom: 16px;

        @media screen and (min-width: 1440px) {
            margin-bottom: 27px; 
            transition: $default-transition;
            transform: translate3d(var(--moveXt), var(--moveYt), 0);
        }
    }

    &__info{
        max-width: 445px;
        min-height: 160px;

        @media screen and (min-width: 1440px) {
            transition: $default-transition;
            transform: translate3d(calc(calc(var(--moveXp) * -1.5) + 5px), calc(calc(var(--moveYp) * -1) + 3px), 0);
        }
    }
}