.destination{
    text-align: center;
    margin-top: 24px;
    
    @media screen and (min-width: 768px) {
        padding-bottom: 62px;
    }

    @media screen and (min-width: 1440px) {
        text-align: left;
    }

    &__picture{
        width: 170px;
        margin: 0 auto;
        margin-bottom: 26px;

        img{
            transition: all .4s;
        }

        @media screen and (min-width: 768px) {
            width: 300px;
            margin-bottom: 53px;
        }

        @media screen and (min-width: 1440px) {
            width: 445px;
            margin-bottom: 0;
            margin-top: 33px;
        }
    }
    
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 1440px) {
            align-items: flex-start;
            align-self: flex-start;
        }
    }

    &__list{
        display: flex;
        gap: 26px;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            margin-bottom: 32px;
            gap: 36px;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        gap: 65px;
        margin: 0 24px;

        @media screen and (min-width: 768px) {
            gap: 78px;
        }

        @media screen and (min-width: 1440px) {
            margin: 0;
            width: 445px;
        }
    }

    .nav-link{
        position: relative;
        cursor: pointer;

        &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 3px;
            bottom: -12px;
            left: 0;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .2s;
            background: rgba($color-light-main, $alpha: .5);
        }
    
        &:hover::before{
            background: rgba($color-light-main, $alpha: .5);
            transform: scaleX(1);
            transform-origin: left;
        }
    
        &_active{
            &::before{
                background-color: $color-light-main;
                transform: scaleX(1);
            }
        }
    }
}

.info__main-container{
    position: relative;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -32px;
        left: 0;
        background-color: #383B4B;

        @media screen and (min-width: 768px) {
            bottom: -49px;
        }
    }
}

.info{
    &__text{
        max-width: 573px;
        transition: all .4s;
    }

    &__title{
        transition: all .4s;
    }

    &__stats-container{
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            margin: 0 auto;
            gap: 60px;
        }

        @media screen and (min-width: 1440px) {
            margin: 0;
            gap: 79px;
        }
    }

    &__stats-accent{
        display: block;
        transition: all .4s;
    }
}

.destination .section__content-container{
    @media screen and (min-width: 1440px) {
        gap: 157px;
        margin-left: 230px;
        margin-right: 163px; 
    }
}