.destination{
    text-align: center;
    margin-top: 24px;
    
    @media screen and (min-width: 768px) {
        padding-bottom: 62px;
    }

    @media screen and (min-width: 1440px) {
        text-align: left;
    }

    &__picture{
        position: relative;
        border-radius: 50%;
        width: 170px;
        margin: 0 auto;
        margin-bottom: 26px;

        &::after{
            position: absolute;
            content: '';
            width: 250px;
            height: 250px;
            bottom: -165px;
            left: -50px;
            opacity: 0.9;
            background-color: #0B0D17;
            filter: blur(68px);
        }

        img{
            animation: spin 500s infinite linear;
        }

        @media screen and (min-width: 768px) {
            width: 300px;
            margin-bottom: 53px;

            &::after{
                width: 370px;
                height: 370px;
                bottom: -220px;
                left: -100px;
            }
        }

        @media screen and (min-width: 1440px) {
            width: 445px;
            margin-left: 0;
            margin-bottom: 0;
            margin-top: 33px;

            &::after{
                width: 500px;
                height: 500px;
                bottom: -220px;
                left: -100px;
            }
        }
    }

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 1440px) {
            align-items: flex-start;
            align-self: flex-start;
        }
    }

    &__list{
        display: flex;
        gap: 26px;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            margin-bottom: 32px;
            gap: 36px;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        gap: 65px;
        margin: 0 24px;

        @media screen and (min-width: 768px) {
            gap: 78px;
        }

        @media screen and (min-width: 1440px) {
            margin: 0;
            width: 445px;
        }
    }

    .nav-link{
        position: relative;
        cursor: pointer;

        &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 3px;
            bottom: -12px;
            left: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .2s;
            background: rgba($color-light-main, $alpha: .5);
        }
    
        &:hover::before{
            transform: scaleX(1);
            transform-origin: left;
        }
    
        &_active{
            &::before{
                background-color: $color-light-main;
                transform: scaleX(1);
            }
        }
    }
}

.info__main-container{
    position: relative;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -32px;
        left: 0;
        background-color: #383B4B;

        @media screen and (min-width: 768px) {
            bottom: -49px;
        }
    }
}

.info{
    &__text{
        max-width: 573px;

        @media screen and (max-width: 520px) {
            min-height: 125.25px;
        }
    }

    &__stats-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            margin: 0 auto;
            gap: 60px;
        }

        @media screen and (min-width: 1440px) {
            margin: 0;
            gap: 79px;
        }
    }

    &__stats-accent{
        display: block;
        width: 160px;
        margin: 0 auto;
    }
}

.destination .section__content-container{
    @media screen and (min-width: 1440px) {
        gap: 157px;
        margin-left: 230px;
        margin-right: 163px; 
    }
}