.home{
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    margin: 0 24px;
    margin-top: 48px;
    text-align: center;

    @media screen and (min-width: 768px) {
        margin-top: 106px;;    
    }

    @media screen and (min-width: 1440px) {
        margin-top: 251px;
        padding-bottom: 131px;
        text-align: left;
        flex-direction: row;
        justify-content: space-around;
    }

    &__title-accent{
        display: block;
        margin-top: 16px;

        @media screen and (min-width: 1440px) {
            margin-top: 24px;
        }
    }

    &__paragraph{
        z-index: 1;
        margin: 0 auto;
        max-width: 445px;
        margin-top: 35px;
    }
    
    &__button{
        z-index: 1;
        align-self: center;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: box-shadow .5s;
        padding: 68px 27px 59px 29px;
        margin-top: 81px;
        margin-bottom: 48px;

        &:hover{
            box-shadow: 0 0 0 88px rgba($color-light-main, $alpha: .1);
            background-color: $color-light-main;
        }

        @media screen and (min-width: 768px){
            padding: 103px 48px 102px 46px;
            margin-top: 156px;
        }

        @media screen and (min-width: 1440px) {
            margin: 0;
            padding: 120px 64px;
            align-self: flex-end;
        }
    }
}

.home__planet{
    position: absolute;
    width: 1850px;
    z-index: 0;
    animation: spin 2000s infinite linear;
    filter: brightness(.4) drop-shadow(0 0 40px rgba(44, 140, 250, 0.3));
    pointer-events: none;

    @media screen and (max-width: 767px) {
        top: 300px;
        right: -750px;
    }
    
    @media screen and (min-width: 720px) {
        right: -600px;
    }

    @media screen and (min-width: 768px) {
        top: auto;
        bottom: -1450px;
        right: -550px;
    }

    @media screen and (min-width: 1024px) {
        right: -450px;
    }
    
    @media screen and (min-width: 1280px) {
        right: -350px;
    }

    @media screen and (min-width: 1440px){
        bottom: -550px;
        right: -1300px;
    }

    @media screen and (min-width: 1920px) {
        right: -1200px;
    }
}