.header__nav{
    position: relative;
    margin-right: 24px;

    @media screen and (min-width: 768px) {
        margin-right: 0;
        padding: 40px 48px ;
        background-color: rgba($color: #ffffff, $alpha: .1);
        backdrop-filter: blur(40px);
        
        &-item-number{
            display: none;
        }
    }

    &-list{
        display: flex;
        list-style: none;
        gap: 37px;
    }
}
