.popup{
    @include blur;
    z-index: 100;
    visibility: hidden;
    position: absolute;
    display: flex;
    height: 100%;
    width: 254px;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all .4s;
}

.popup_active{
    visibility: visible;
    opacity: 1;
}

.popup__list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 118px;
    margin-left: 32px;
}

.popup__list-item_active{
    &::before{
        content: "";
        position: absolute;
        display: block;
        width: 3px;
        height: 21px;
        right: 0;
        background-color: $color-light-main;
    }
}

.popup__item-number{
    @include subheading(0.875rem, 1);
    margin-right: 12px;
    font-weight: 700;
}

.popup__close-btn{
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 27px;
    top: 34px;
}
